body {
    font-family: sans-serif;
    background: #f9f9f9;
    padding: 20px;
}

header a {
    display: inline-block;
    margin-bottom: 20px;
    text-decoration: none;
    color: #0077ff;
}

.product-card {
    border: 1px solid #ccc;
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 6px;
}

.product-card input[type="number"] {
    width: 50px;
}